* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 1987px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    padding-left: 80px;
    padding-right: 80px;
    min-height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.subheader{
    padding: 0px 80px 0px 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main {
    padding: 0px 80px 0px 80px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.products{
    display: grid;
}

.product-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}