* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-bottom: 80px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0px 80px 0px 80px;
    min-height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.subheader {
    padding: 16px 80px 0px 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 52px;
}

.main {
    padding: 0px 80px 0px 80px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.products {
    display: grid;
    padding-top: 25px;
}

.product-row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 12px;
    gap: 14px;
}

.product-image-container {
    text-align: center;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

.product-filters, .product-title {
    font-size: 12px;
    line-height: 18px;
    color: #484848;
}

.product-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.product-header-container {
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.product-title-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.product-price-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.product-net-price {
    font-size: 13px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #9B9B9B;
    padding-right: 5px;
}

.product-discount {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #F90000;
}

.product:hover {
    cursor: pointer;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.product:hover>.product-cart-container {
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
}

.product:hover>.product-header-container {
    display: none;
}

.product:hover>.product-image-container {
    border: none;
}

.product-cart-container {
    display: none;
}

.add-cart-button-disabled {
    background: rgba(126, 126, 126, 0.11);
    border-radius: 8px;
    height: 32px;
    text-align: center;
    border: none;
    color: #B0B0B0;
    font-weight: 500;
    font-size: 14px;
}

.add-cart-button {
    background: rgba(255, 96, 0, 0.11);
    border-radius: 8px;
    height: 32px;
    text-align: center;
    color: #FF6000;
    border: none;
    font-weight: 500;
    font-size: 14px;
}

.add-cart-button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.search {
    display: flex;
    background: #EEEEEE;
    border-radius: 100px;
    width: 699px;
    height: 48px;
    align-items: center;
}

.search-icon {
    min-width: 50px;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
    border: none;
    background: #EEEEEE;
    outline: 0;
    margin-right: 10px;
}

.basket {
    width: 120px;
    height: 48px;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.basket-count {
    border-radius: 50%;
    background: #FF6000;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: -8px;
    right: -8px;
}

.page-title-container {
    display: flex;
    flex-flow: column nowrap;
}

.page-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    color: #484848;
}

.page-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}

.selectbox {
    width: 120px;
    height: 48px;
    outline: 0;
    border: 1px solid #B4B4BB;
    box-sizing: border-box;
    border-radius: 4px;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 45px;
}

.sidebar-item {
    margin-bottom: 25px;
}

.sidebar-item-title {
    margin-bottom: 15px;
}

.sidebar-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.sidebar-menu-item>ul {
    padding: 0;
}

.sidebar-menu-item>ul>li {
    list-style: none;
    margin: 2px;
}

.sidebar-menu-items {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 400;
    color: #484848;
}

.sidebar-menu-items:hover {
    color: #FF6000;
}

.pagination-container {
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
}

.pagination-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 9px;
    cursor: pointer;
    height: 33px;
    width: 33px;
    text-align: center;
    align-items: center;
}

.pagination-text {
    text-align: center;
    color: #646464;
    font-size: 10px;
    line-height: 20px;
    vertical-align: sub;
}

.pagination-item:hover {
    border: 1px solid #FF6000;
}
.pagination-item-start{
    margin-right: 3px;
}
.pagination-item-end{
    margin-left: 3px;
}

.pagination-current-page{
    border: 1px solid #001aff;
}