* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-bottom: 80px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0px 80px 0px 80px;
    min-height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.subheader {
    padding: 16px 80px 0px 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 52px;
}

.main {
    padding: 0px 80px 0px 80px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.products {
    display: grid;
    padding-top: 25px;
}

.product-row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 12px;
    gap: 14px;
}

.product-image-container {
    text-align: center;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

.product-image-container>img {
    max-height: 319px;
}

.product-filters, .product-title {
    font-size: 12px;
    line-height: 18px;
    color: #484848;
}

.product-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.product-header-container {
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.product-title-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.product-price-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.product-net-price {
    font-size: 13px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #9B9B9B;
    padding-right: 5px;
}

.product-discount {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #F90000;
}

.product:hover {
    cursor: pointer;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.product:hover>.product-cart-container {
    padding: 16px;
    display: grid;
    grid-template-rows: 100% auto;
}

.product:hover>.product-header-container {
    display: none;
}

.product:hover>.product-image-container {
    border: none;
}

.product-cart-container {
    display: none;
}

.add-cart-button-disabled {
    background: rgba(126, 126, 126, 0.11);
    border-radius: 8px;
    height: 32px;
    text-align: center;
    border: none;
    color: #B0B0B0;
    font-weight: 500;
    font-size: 14px;
}

.add-cart-button {
    background: rgba(255, 96, 0, 0.11);
    border-radius: 8px;
    height: 32px;
    text-align: center;
    color: #FF6000;
    border: none;
    font-weight: 500;
    font-size: 14px;
}

.add-cart-button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.search {
    display: flex;
    background: #EEEEEE;
    border-radius: 100px;
    width: 699px;
    height: 48px;
    align-items: center;
}

.search-icon {
    min-width: 50px;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
    border: none;
    background: #EEEEEE;
    outline: 0;
    margin-right: 10px;
}

.basket {
    width: 120px;
    height: 48px;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.basket-count {
    border-radius: 50%;
    background: #FF6000;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: -8px;
    right: -8px;
}

.quick-basket {
    position: absolute;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 80px;
    right: 0px;
    background: #FFFFFF;
    width: 360px;
    min-height: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin-top: -4px;
    border-top-right-radius: 0px;
}

.quick-basket::before {
    background-color: white;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 119px;
}

.quick-basket::before {
    top: -1px;
    left: 239px;
}

.quick-basket-item {
    height: 72px;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.quick-basket-image {
    height: 60px;
    width: 50px;
    padding: 2px;
}

.quick-basket-info {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    padding-left: 3px;
}

.quick-basket-title {
    font-size: 12px;
    line-height: 18px;
    color: #484848;
    text-align: left;
}

.quick-basket-remove {
    background: #FFFFFF;
    border: 1px solid #F90000;
    border-radius: 4px;
    height: 18px;
    width: 49px;
    color: #F90000;
    outline: 0;
    cursor: pointer;
}

.quick-basket-remove:hover {
    background-color: #F90000;
    color: #FFFFFF;
}

.page-title-container {
    display: flex;
    flex-flow: column nowrap;
}

.page-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    color: #484848;
}

.page-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}

.selectbox {
    width: 120px;
    height: 48px;
    outline: 0;
    border: 1px solid #B4B4BB;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
}

.selectbox-option {
    background: #666;
    color: #FFFFFF;
}

.selectbox-option-selected {
    background-color: #FF6000;
}

.selectbox-option-selected:hover {
    background-color: #FF6000;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 45px;
}

.sidebar-item {
    margin-bottom: 25px;
}

.sidebar-item-title {
    margin-bottom: 15px;
}

.sidebar-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.sidebar-menu-item>ul {
    padding: 0;
}

.sidebar-menu-item>ul>li {
    list-style: none;
    margin: 2px;
}

.sidebar-menu-items {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 400;
    color: #484848;
    cursor: pointer;
}

.sidebar-menu-items:hover {
    color: #FF6000;
}

.pagination-container {
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
}

.pagination-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 9px;
    cursor: pointer;
    height: 33px;
    width: 33px;
    text-align: center;
    align-items: center;
}

.pagination-text {
    text-align: center;
    color: #646464;
    font-size: 10px;
    line-height: 20px;
    vertical-align: sub;
}

.pagination-item:hover {
    border: 1px solid #FF6000;
}

.pagination-item-start {
    margin-right: 3px;
}

.pagination-item-end {
    margin-left: 3px;
}

.pagination-current-page {
    border: 1px solid #FF6000;
}

.sidebar-menu-item-selected {
    color: #FF6000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    height: 50%;
    width: 30%;
    display: grid;
    grid-template-rows: 5% 15% 60% 20%;
}

.modal-content-text {
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    direction: rtl;
}

.modal-close:hover, .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-open {
    display: block;
}

.modal-buttons {
    float: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.modal-buttons-container {
    align-self: center;
}

.modal-button {
    width: 70px;
    outline: 0;
    height: 25px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
}

.success {
    background: #90D659;
}

.cancel {
    background: #D65959;
}